@import "tailwindcss";

@theme {
  --color-gray-100: #F2F2F2;

  --color-green-950: #004140;
  --color-green-500: #19B89D;

  --color-cyan-800: #006971;
  --color-cyan-500: #26B5C0;

  --color-gold-500: #E28625;
  --color-gold-200: #FFD473;

  --font-lexend: "Lexend Deca", sans-serif;
  --font-shoulders: "Big Shoulders", Arial;
  --text-base: 15px;
  --leading-base: 165%;

  --breakpoint-tablet: 768px;
  --breakpoint-desktop: 1440px;
}

:root {
  font-family: "Lexend Deca", sans-serif;
}